<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h2>Personajes</h2>
    <div th:each="personaje : ${listaPersonajes}">
        <h3 th:text="${personaje.nombre}"></h3>
        <p>Descripción: <span th:text="${personaje.descripcion}"></span></p>
        <p>Apariencia: <span th:text="${personaje.apariencia}"></span></p>
    </div>
    <div><p th:text="${msg}"></p></div>
</body>

</html>