<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Personajes</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/header.js" defer></script>
</head>

<body>
    <header th:replace="~{/fragments/headerFragment.html::headerFragment}"></header>
    <nav th:replace="~{/fragments/navFragment.html::navFragment}"></nav>
    <h2>Mis Personajes</h2>
    <div>
        <button><a th:href="@{/personaje/nuevo}">Nuevo</a></button>
    </div>
    <div th:each="personaje : ${listaPersonajes}">
        <h3 th:text="${personaje.nombre}"></h3>
        <p>Apariencia: <span th:text="${personaje.apariencia}"></span></p>
        <p>Descripción: <span th:text="${personaje.descripcion}"></span></p>
        <button><a th:href="@{/personaje/editar/{id}(id=${personaje.id})}">Editar</a></button>
        <form 
            th:action="@{/personaje/borrar/{id}(id=${personaje.id})}"
            method="post"
        >
            <button type="submit">Eliminar</button>
        </form>
    </div>
    <div><p th:text="${msg}"></p></div>
</body>

</html>