<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantina</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/header.js" defer></script>
</head>

<body>
    <header th:replace="~{/fragments/headerFragment.html::headerFragment}"></header>
    <nav th:replace="~{/fragments/navFragment.html::navFragment}"></nav>
    <h1>La Cantina</h1>
    <h3 th:text="${username}"></h3>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apariencia</th>
            <th>Descripción</th>
        </thead>
        <tbody>
            <tr th:each="personaje : ${listaPersonajes}">
                <td th:text="${personaje.nombre}"></td>
                <td th:text="${personaje.apariencia}"></td>
                <td th:text="${personaje.descripcion}"></td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <button id="passButton"><a th:href="@{/cantina(u=${usuarioSiguiente})}">Pass</a></button>
    <form 
        th:action="@{/cantina/like(uid=${usuarioCantina.id}, usig=${usuarioSiguienteIdx})}"
        method="post">
        <button id="likeButton" type="submit">Like</button>
    </form>
</body>

</html>