<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/header.js" defer></script>
</head>

<body>
    <header th:replace="~{/fragments/headerFragment.html::headerFragment}"></header>
    <h3>Mis Datos</h3>
    <div>
        <form 
            th:action="@{/usuario/cambiar-username/submit}" 
            th:object="${usernameDtoForm}" 
            method="post"
        >
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" th:value="${user.username}" th:field="*{username}">
            <button type="submit">Modificar</button>
        </form>
    </div>
    <div th:if="${param.username}"><p>Nombre de usuario modificado con éxito</p></div>
    <div><p th:text="${msg}"></p></div>
</body>

</html>