<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/header.js" defer></script>
</head>

<body>
    <header th:replace="~{/fragments/headerFragment.html::headerFragment}"></header>
    <h3>Mis Datos</h3>
    <div>
        <form 
            th:action="@{/usuario/cambiar-username/submit}" 
            th:object="${usernameDtoForm}" 
            method="post"
        >
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" th:field="*{username}">
            <button type="submit">Modificar</button>
        </form>
    </div>
    <div th:if="${param.username}"><p>Nombre de usuario modificado con éxito</p></div>
    <div>
        <form 
            th:action="@{/usuario/cambiar-password/submit}" 
            th:object="${passwordDtoForm}" 
            method="post"
        >
            <label for="passwordNew">Nueva Contraseña:</label>
            <input type="password" id="passwordNew"><br>
            <label for="passwordCheck">Confirma la nueva Contraseña:</label>
            <input type="password" id="passwordCheck" th:field="*{password}">
            <button type="submit">Modificar</button>
        </form>
    </div>
    <div>
        <form 
            th:action="@{/usuario/borrar-usuario/submit}"
            method="post"
        >
            <p>Borrar cuenta</p>
            <button type="submit">Borrar</button>
        </form>
    </div>
    <div><p th:text="${msg}"></p></div>
</body>

</html>