<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <h3>Registro</h3>
    <form method="post" action="#" th:action="@{/public/registro/submit}" th:object="${registroForm}">
        <input type="text" id="id" th:field="*{id}" hidden />
        <input type="text" th:field="*{rol}" hidden>
        <label>Nombre: <input type="text" id="username" th:field="*{username}" /></label><br />
        <label>Contraseña: <input type="password" id="password" th:field="*{password}" /></label><br />
        <input type="submit" value="Enviar" />
    </form>
    <p th:text="${msg}"></p>
</body>

</html>