<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <h3>Registro</h3>
    <h4 th:text="${msg}"></h4>
    <p>Completa y envía el siguiente formulario para registrarte en OrkDate</p>
    <form class="form" action="#" method="post">
        <label for="nombre">Nombre de usuario<br>
            <input type="text" id="nombre" required>
        </label>
        <br>
        <label for="tlf">Teléfono<br>
            <input type="tel" id="tlf" pattern="[0-9]{9}" required
                title="El teléfono debe constar de 9 números (sin espacios)">
        </label>
        <label for="clave">Clave<br>
            <input type="password" id="clave" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" required
                title="La contraseña debe tener al menos 7 caracteres, que incluyan al menos un número, 
                    mayúsculas y minúsculas">
        </label>
        <input type="checkbox" id="tos">
        <label for="tos">Acepto los términos de servicio y privacidad de esta web</label>
        <button type="submit" class="boton">Enviar</button>
    </form>
</body>

</html>